@model ProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ms-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">@(Model.Product.Id > 0 ? "Update" : "Create") Product</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form class="row" method="post" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" asp-for="Product.Title" />
                            <label class="ms-2" asp-for="Product.Title"></label>
                            <span class="text-danger" asp-validation-for="Product.Title"></span>
                        </div>

                        <div class="py-2 col-12">
                            <label class="ms-2 text-muted" asp-for="Product.Description"></label>
                            <textarea class="form-control border-0 shadow" asp-for="Product.Description"></textarea>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" asp-for="Product.ISBN" />
                            <label class="ms-2" asp-for="Product.ISBN"></label>
                            <span class="text-danger" asp-validation-for="Product.ISBN"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" asp-for="Product.Author" />
                            <label class="ms-2" asp-for="Product.Author"></label>
                            <span class="text-danger" asp-validation-for="Product.Author"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" asp-for="Product.ListPrice" />
                            <label class="ms-2" asp-for="Product.ListPrice"></label>
                            <span class="text-danger" asp-validation-for="Product.ListPrice"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" asp-for="Product.Price" />
                            <label class="ms-2" asp-for="Product.Price"></label>
                            <span class="text-danger" asp-validation-for="Product.Price"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" asp-for="Product.Price50" />
                            <label class="ms-2" asp-for="Product.Price50"></label>
                            <span class="text-danger" asp-validation-for="Product.Price50"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" asp-for="Product.Price100" />
                            <label class="ms-2" asp-for="Product.Price100"></label>
                            <span class="text-danger" asp-validation-for="Product.Price100"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select class="form-select border-0 shadow" asp-for="Product.CategoryId" asp-items="@Model.Categories">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label class="ms-2" asp-for="Product.CategoryId"></label>
                            <span class="text-danger" asp-validation-for="Product.CategoryId"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" type="file" name="file" />
                            <input asp-for="Product.ImageUrl" hidden />
                            <label class="ms-2" asp-for="Product.ImageUrl"></label>
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                <button class="btn btn-primary form-control" type="submit">@(Model.Product.Id != 0 ? "Update" : "Create")</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="btn btn-outline-primary border form-control" asp-controller="Product" asp-action="Index">Back To List</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #BBB9B9" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}